o/
out/
build/
reports/
netlist/
tb/
*.log
*.saif
*.vcd
*.vpd
*.mr
*.out
*.cmd
command.log
.daidir/
csrc/
simv*
ucli.key
__pycache__/
*.pyc
.DS_Store
*.out
syn/fv/**/fv_map.v.gz
syn/fv/**/fv_map.*.json
syn/fv/**/fv_map.*.json.gz
syn/fv/**/rtl_to_fv_map.do~
syn/.rs_*.tstamp
waves/
*.vcd
*.saif
build/
rtl/aes_gcm_passthrough.v
syn/fv/
syn/genus.cmd*
syn/genus.log*
syn/.rs_*.tstamp
